/*! EL "!important;" se usa para sobreescribir el estilo de Boostrap */

/* Fuentes del proyecto */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap");

/* variables */
:root {
  /* --(nombre generico de la app)-sys-propiedad: red; */

  /* colores */
  --cup-primary: #ec461d;
  --cup-secondary: #303436;
  --cup-body-bg: #dcdad7;
  --cup-black: #000;
  --cup-white: #fff;
  --cup-light: #f8f9fa;
  --cup-dark: #212529;

  /* fuentes */
  --cup-font-family: "Nunito";
  --cup-font-family-title: "Bebas Neue", sans-serif;
}

/* cosas de CSS y tal */
body {
  background-color: #dcdad7 !important;
}

.activo {
  color: var(--cup-primary) !important;
}

.bg-secondary-new {
  background-color: #303436 !important;
}

.bg-dark {
  background-color: #dcdad7 !important;
}

.btn-ong {
  background: #d83c15 !important;
  color: #ffffff !important;
  width: 100px;
  height: 60px;
  font-size: x-large !important;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 60%;
}

.btn-ong:hover {
  background: #eb4015 !important;
  color: #ffffff !important;
  width: 100px;
  height: 60px;
  font-size: x-large;
}

.patrocinadores1 div a img {
  height: auto;
  max-height: 50px;
}

main {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 5%;
}

main > * {
  margin: auto;
}

.legal * {
  margin: 0;
}

.container-fluid {
  justify-content: flex-end !important;
}

/** media-queries */
@media (max-width: 500px) {
  .patrocinadores1 div span a img {
    height: 20px;
  }

  .portada h1 {
    font-size: 2.5rem !important;
  }
}

@media (max-width: 1199.5px) {
  .patrocinadores1 div a img {
    height: auto;
    max-height: 30px;
  }

  nav .container-fluid {
    background-color: hsl(200, 6%, 20%) !important;
  }

  .dropdown-item::before {
    transform: rotate(-90deg);
  }

  .contenedor1 {
    width: 87vw;
  }

  .d-flex {
    display: flex !important;
    justify-content: space-between;
  }

  .dropdown-menu {
    border: none !important;
  }
}

/** nav-bar */
.navbar-toggler-icon {
  background-image: url("../img/align-left-regular-24.png") !important;
}

header {
  background-color: #3a3f41 !important;
}

header .dropdown-item:hover {
  background-color: rgb(121, 125, 126);
}

header nav a,
header nav p {
  color: #dcdad7 !important;
}

.logo-nav {
  width: 50px;
}

/** footer */
footer {
  display: flex;
  background-color: white;
  overflow: hidden;
}

#siali {
  background: #3a3f41;
}

footer a {
  text-decoration: none;
  color: black;
}

footer .primera img {
  height: 30px;
}

footer .segunda img {
  height: 30px;
}

/** index.hrml > portada */
.portada {
  width: 100%;
  height: 400px;
  background: url("../img/fotografias/copa/Portada.jpg") no-repeat;
  background-size: cover;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: end !important;
  padding: 0 !important;
  cursor: pointer;
}

.portada .negrura {
  display: block;
  width: 100%;
  height: 500px;
  background: rgba(30, 10, 0, 0.281);
  background-size: cover;
  align-items: end;
}

.portada:hover .negrura {
  display: block;
  width: 100%;
  height: 500px;
  background: rgba(30, 10, 0, 0.25);
  background-size: cover;
}

.portada h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3.3rem;
  text-align: end;
  margin: 0 0 0 auto;
  margin-top: 3rem;
  padding-right: 25rem;
  padding-left: 1rem;
  width: 20%;
  border-left: black 5px solid;
  color: black;
}

.portada:hover h1 {
  transform: translateX(10px);
  transition: transform 0.3s ease-in-out;
}

.portada a {
  font-family: "Nunito";
}

/** Para las paginas de colaboradores */
.card {
  box-shadow: 1.6px 3.2px 3.2px hsl(0deg 0% 0% / 0.45);
  border: 10px white solid !important;
}

.card strong {
  color: #3a3f41;
}

.card img {
  max-width: 50%;
  width: fit-content;
  margin: 20px auto;
  box-shadow: #3a3f41 5px 5px 15px;
}

.card-body {
  background-color: #f0ece5;
}

.carrusel {
  box-shadow: 1.6px 3.2px 3.2px hsl(0deg 0% 0% / 0.45);
  background: white;
  padding: 10px;
}

.patrocinadores1 {
  background: #ffffff;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.patrocinadores1 div {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: 3rem;
}

.patrocinadores1 div span {
  display: flex;
  flex-flow: row nowrap;
  gap: 3rem;
}

.apoyos a img {
  height: 40px;
}

.patrocinadores2 a img {
  height: 30px;
}

/* logotipos */
