/*! EL "!important;" se usa para sobreescribir el estilo de Boostrap */

/* Fuentes del proyecto */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap");

/* variables */
:root {
  /* --(nombre generico de la app)-sys-propiedad: red; */

  /* colores */
  --cup-primary: #d83c15;
  --cup-secondary: #303436;
  --cup-body-bg: #dcdad7;
  --cup-black: #000;
  --cup-white: #fff;
  --cup-light: #f3f1ef;
  --cup-dark: #212529;

  /* fuentes */
  --cup-font-family: "Nunito";
  --cup-font-family-title: "Bebas Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

/* cosas de CSS y tal */
body {
  background-color: var(--cup-body-bg) !important;
}

body h1 {
  font-family: "Bebas Neue";
}

body p {
  font-family: "Nunito";
}

body a {
  font-family: "Nunito";
}

.activo {
  color: var(--cup-primary) !important;
}

.bg-secondary-new {
  background-color: var(--cup-secondary) !important;
}

.bg-dark {
  background-color: var(--cup-body-bg) !important;
}

.patrocinadores1 div a img {
  height: auto;
  max-height: 50px;
}

main {
  margin: 0 auto;
  /* width: 80%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 0px 5%; */
}

main > * {
  margin: auto;
}

.legal * {
  margin: 0;
}

.container-fluid {
  justify-content: flex-end !important;
}

/** media-queries */
@media (max-width: 500px) {
  .patrocinadores1 div span a img {
    height: 25px;
  }

  .portada h1 {
    font-size: 2.5rem !important;
  }
}

@media (max-width: 767.5px) {
  .principal .flex-row {
    flex-flow: column nowrap !important;
  }

  .contenedor-colaboradores {
    height: auto !important;
  }

  .patrocinadores2 div a img {
    height: 15px !important;
  }

  .apoyos a .img-apoyo {
    height: 25px !important;
  }

  .cosas {
    font-size: 0.7rem;
  }

  .cosas img {
    height: 10px !important;
  }
}

.torneo div {
  display: flex;
  flex-flow: row;
}

@media (max-width: 1199.5px) {
  .torneo div {
    display: flex;
    flex-flow: column;
  }

  .redes {
    margin-left: 0 !important;
  }

  .patrocinadores1 div a img {
    height: auto;
    max-height: 30px;
  }

  nav .container-fluid {
    background-color: var(--cup-secondary) !important;
  }

  .dropdown-item::before {
    transform: rotate(-90deg);
  }

  .contenedor1 {
    width: 87vw;
  }

  .d-flex {
    display: flex !important;
    justify-content: space-between;
  }

  .dropdown-menu {
    border: none !important;
  }

  .patrocinadores2 div a img {
    height: 28px;
  }

  .apoyos a img {
    height: 38px !important;
  }
}

/** nav-bar */
.navbar-toggler-icon {
  background-image: url("../img/align-left-regular-24.png") !important;
}

header {
  background-color: var(--cup-secondary) !important;
}

header .dropdown-item:hover {
  background-color: rgb(121, 125, 126);
}

header nav a,
header nav p {
  color: var(--cup-body-bg) !important;
}

.iconos-redes {
  width: 30px;
}

.logo-nav {
  width: 50px;
}

/** footer */
footer {
  display: flex;
  background-color: white;
  overflow: hidden;
}

#siali {
  background: var(--cup-secondary);
}

footer a {
  text-decoration: none;
  color: black;
}

footer .primera img {
  height: 30px;
}

footer .segunda img {
  height: 30px;
}

/** index.hrml > portada */
.portada {
  width: 100%;
  background: url("../img/fotografias/copa/Portada.jpg") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: end !important;
  padding: 0 !important;
  cursor: pointer;
  max-height: 500px;
}

.portada .negrura {
  padding-right: 2rem;
  display: block;
  width: 100%;
  height: 500px;
  background: rgba(30, 10, 0, 0.281);
  background-size: cover;
}

.portada:hover .negrura {
  background: rgba(30, 10, 0, 0.25);
}

.portada h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3.3rem;
  margin-top: 3rem;
  padding-left: 1rem;
  width: 20%;

  border-left: black 5px solid;
  color: black;
}

.portada:hover h1 {
  transform: translateX(10px);
  transition: transform 0.3s ease-in-out;
}

.portada a {
  font-family: "Nunito";
}

.btn-ong {
  background: var(--cup-primary) !important;
  color: #ffffff !important;
  width: 120px;
  height: 60px;
  font-size: x-large !important;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.btn-ong:hover {
  background: #eb4015 !important;
  color: #ffffff !important;
}

/* Sobre el torneo, abajo de portada. */
.torneo {
  background-color: var(--cup-light);
}

.torneo p {
  padding-left: 2.5em;
  border-left: 5px var(--cup-black) solid;
  overflow-y: auto;
  max-height: 500px;
}

.torneo h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3.3rem;
  padding-right: 1rem;
  color: black;
}

/** Para las paginas de colaboradores */
.card {
  box-shadow: 1.6px 3.2px 3.2px hsl(0deg 0% 0% / 0.45);
  border: 10px white solid !important;
}

.card strong {
  color: #3a3f41;
}

.card img {
  max-width: 50%;
  width: fit-content;
  margin: 20px auto;
  box-shadow: #3a3f41 5px 5px 15px;
}

.card-body {
  background-color: var(--cup-light);
}

.carrusel {
  box-shadow: 1.6px 3.2px 3.2px hsl(0deg 0% 0% / 0.45);
  background: white;
  padding: 10px;
}

.patrocinadores1 {
  background: #ffffff;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.patrocinadores1 div {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.patrocinadores1 div span {
  display: flex;
  flex-flow: row nowrap;
  gap: 3rem;
}

.apoyos a img {
  height: 60px;
}

.patrocinadores2 a img {
  height: 50px;
}

.cosas img {
  height: 15px;
}

.carousel-inner {
  min-width: 300px !important;

  max-width: 800px !important;

  max-height: 500px !important;
}

/* cartas patrocinadores */
.card {
  height: 400px !important;
  /* min-width: 200px !important;
  max-width: 600px !important; */
  max-width: 500px !important;

  border-radius: 0 !important;
  box-shadow: none !important;
}

.card-body {
  overflow-y: hidden !important;
}

.card-text {
  max-height: 220px !important;
  overflow-y: auto;
}

.contenedor-colaboradores {
  margin: 3rem 2rem;
  height: 400px;
  /* background: red; */

  display: flex;
  flex-flow: row;
  gap: 3rem;
}

.contenedor-colaboradores-carusel .carousel,
.contenedor-colaboradores-carusel .carousel-inner {
  max-height: 400px !important;
}

/* Pagina de la ODS */
.fondo-ods:nth-of-type(1) {
  background-color: #e02b40;
}

.fondo-ods:nth-of-type(2) {
  background-color: #d19f2a;
}

.fondo-ods:nth-of-type(3) {
  background-color: #4c9f38;
}

.redes {
  margin-left: 1.5rem;
}

/* Lista de equipos */
.listado-equipos{
  justify-content: space-evenly;
}

.equipo-card{
  height: fit-content !important;
  text-align: center;
}

.equipo-card img{
  max-width: 80% !important;
}