<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Patrocinadores</title>
  <link rel="stylesheet" href="../../../css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<!-- <Son 10 páginas como esta, cada una con un patrocinador diferente> -->

  <body>
    <!-- Navbar de Bootstrap -->
    <header class="d-flex justify-content-between">
      <nav class="navbar navbar-expand-xl d-flex flex-row pb-0">
        <!-- Logo de la izquierda -->
        <div class="contenedor1 me-5 d-flex align-items-center gap-3 flex-row">
          <div class="d-flex flex-row flex align-items-center gap-3 ms-4">
            <img src="../../../img/logos/logoleon.png" alt="Mini Logo" class="logo-nav">
            <a class="navbar-brand" href="./index-bootstrap.html">IES Augusto Cup</a>
          </div>
  
          <!-- Boton del desplegable -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="container-fluid mt-2 pb-1">
          <!-- Enlace de la pagina principal -->
  
          <!-- Inicio de los elementos del menu -->
          <div class="collapse navbar-collapse ms-3" id="navbarNav">
            <ul class="navbar-nav ">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="../../../../index.html">Inicio</a>
              </li>
  
              <!-- Lista de equipos -->
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="../../../views/equipos/equipos.html">Equipos</a>
              </li>
  
              <!-- Lista de Organizacion -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">Organizacion
                </a>
                <!-- Elementos del sub menu -->
                <ul class="dropdown-menu  bg-dark">
                  <li><a class="dropdown-item" href="../../../views/organizacion/comisionorganizacion.html">Comisión de
                      organización</a></li>
                  <li><a class="dropdown-item" href="../../../views/organizacion/retos.html">Retos</a></li>
  
                </ul>
              </li>
              <!-- Lista de Torneo -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-auto-close="outside"
                  data-bs-toggle="dropdown" aria-expanded="false">Torneo
                </a>
                <!-- Elementos del sub menu -->
                <ul class="dropdown-menu  bg-dark">
                  <li><a class="dropdown-item" href="../../../views/torneo/torneosolidario.html">Torneo solidario</a></li>
  
                  <li class="dropstart">
                    <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Torneo deportivo</a>
                    <ul class="dropdown-menu  bg-dark">
                      <li><a class="dropdown-item"
                          href="../../../views/torneo/torneo-deportivo/sistemacompeticion.html">Sistema de competición</a></li>
                      <li><a class="dropdown-item"
                          href="../../../views/torneo/torneo-deportivo/clasificacion.html">Clasificación</a></li>
                      <li><a class="dropdown-item" href="../../../views/torneo/torneo-deportivo/resultados.html">Resultados</a>
                      </li>
                      <li><a class="dropdown-item" href="../../../views/torneo/torneo-deportivo/galeriaImg.html">Galería</a>
                      </li>
                    </ul>
                  </li>
                  <!-- Lista de Objetivos-->
                  <!-- Elementos del sub menu -->
                </ul>
              </li>
              <!-- Lista de Organizacion -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">Objetivos
                </a>
                <!-- Elementos del sub menu -->
                <ul class="dropdown-menu bg-dark">
                  <li><a class="dropdown-item" href="../../../views/objetivos/objetivosGenerales.html">Generales</a></li>
                  <li><a class="dropdown-item" href="#">ODS</a></li>
  
                  <!-- Agregar equipos a conveniencia -->
                </ul>
              </li>
              <!--!  -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle activo" href="#" role="button" data-bs-auto-close="outside"
                  data-bs-toggle="dropdown" aria-expanded="false">Colaboraciones
                </a>
                <!-- Elementos del sub menu -->
                <ul class="dropdown-menu  bg-dark">
                  <li class="dropstart">
                    <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Apoyos al proyecto</a>
                    <ul class="dropdown-menu  bg-dark">
                      <li><a class="dropdown-item" href="../../../views/colaboraciones/apoyos/apoyos_IESPeñacastillo.html">IES
                          Peñacastillo</a></li>
                      <li><a class="dropdown-item" href="../../../views/colaboraciones/apoyos/apoyos_IESAGL.html">IES AGL</a>
                      </li>
                      <li><a class="dropdown-item" href="../../../views/colaboraciones/apoyos/apoyos_asociacionNV.html">Nueva
                          Vida</a></li>
                    </ul>
                  </li>
                  <li class="dropstart">
                    <a class="dropdown-item dropdown-toggle activo" data-bs-toggle="dropdown" href="#">Patrocinadores</a>
                    <ul class="dropdown-menu  bg-dark">
                      <li><a class="dropdown-item"
                          href="../../../views/colaboraciones/patrocinadores/cantabriaInformatica.html">Cantabria
                          Informatica</a></li>
                      <li><a class="dropdown-item" href="../../../views/colaboraciones/patrocinadores/cic.html">CIC</a></li>
                      <li><a class="dropdown-item" href="../../../views/colaboraciones/patrocinadores/deode.html">DEODE</a>
                      </li>
                      <li><a class="dropdown-item activo"
                          href="../../../views/colaboraciones/patrocinadores/fondoseuropeos.html">Fondos Europeos</a></li>
                      <li><a class="dropdown-item"
                          href="../../../views/colaboraciones/patrocinadores/infortec.html">Infortec</a></li>
                      <li><a class="dropdown-item" href="../../../views/colaboraciones/apoyos/apoyos_asociacionNV.html">Nueva
                          Vida</a></li>
                      <li><a class="dropdown-item" href="../../../views/colaboraciones/patrocinadores/seidor.html">Seidor</a>
                      </li>
                      <li><a class="dropdown-item" href="../../../views/colaboraciones/patrocinadores/siali.html">Siali</a>
                      </li>
  
                      <li><a class="dropdown-item" href="../../../views/colaboraciones/patrocinadores/soincon.html">SOINCON</a>
                      </li>
                    </ul>
                  </li>
                  <!-- Lista de Objetivos-->
                  <!-- Elementos del sub menu -->
                </ul>
              </li>
              <!--!  -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">Contacto
                </a>
                <!-- Elementos del sub menu -->
                <ul class="dropdown-menu bg-dark">
                  <li><a class="dropdown-item" href="../../../views/contacto/ubicacion.html">Ubicación</a></li>
                  <li><a class="dropdown-item" href="../../../views/contacto/formulario.html">Formulario de contacto</a></li>
                  <li><a class="dropdown-item" href="../../../views/contacto/donaciones.html">Donación</a></li>
  
                  <!-- Agregar equipos a conveniencia -->
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="../../../views/f&q.html">F&Q</a>
              </li>
  
            </ul>
  
            <!-- Redes  -->
            <div class=" redes align-self-center">
              <a href="https://www.instagram.com/ies_augusto_cup/" class="me-4"><img src="../../../img/iconos/instagram.png"
                  alt="Instagram" class="iconos-redes"></a>
            </div>
  
          </div>
  
        </div>
      </nav>
  
    </header>

  <main class="principal">
    <div class="contenedor-colaboradores d-flex flex-row  justify-content-center align-items-center">

      <div>
        <div class="card">
          <!-- imagen -->
          <img style="width: 100px;" src="../../../img/logos/fondos-europeos.png" alt="Logo Peñacastillo">
          <div class="card-body">
            <!-- titulo -->
            <h5 class="card-title"><strong>Fondos Europeos</strong></h5>
            <!-- descripcion -->
            <p class="card-text">
              Más de la mitad de los fondos de la UE se canaliza a través de los cinco Fondos Estructurales y de
              Inversión Europeos (Fondos EIE), gestionados conjuntamente por la Comisión Europea y los países de la UE.
              Todos esos fondos se destinan a invertir en la creación de empleo y en una economía y un medio ambiente
              europeos sostenibles y sanos.<br>

              <strong>Los Fondos EIE se concentran principalmente en cinco sectores</strong><br>
              -Investigación e innovación<br>
              -Tecnologías digitales<br>
              -Economía hipocarbónica<br>
              -Gestión sostenible de los recursos naturales<br>
              -Pequeñas empresas<br>
            </p>
          </div>
        </div>
      </div>

      <div class="contenedor-colaboradores-carusel">
        <div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-indicators">
            <!-- Agregar un boton nuevo por cada imagen nueva, aumentar los contadores de 'data-bs-slide-to' y 'aria-label' -->
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
              aria-label="Slide 3"></button>

          </div>
          <div class="carousel-inner">
            <!-- Imagen inicial -->
            <div class="carousel-item active">
              <img src="../../../img/empresas/fondos-europeos/FondosEuropeos1.jpg" class="d-block w-100" alt="Imagen1">
            </div>
            <!-- Agregar las imagenes que hagan falta copiando este div y modificando el src del img -->
            <div class="carousel-item">
              <img src="../../../img/empresas/fondos-europeos/FondosEuropeos2.jpg" class="d-block w-100" alt="Imagen2">
            </div>
            <div class="carousel-item">
              <img src="../../../img/empresas/fondos-europeos/FondosEuropeos3.jpg" class="d-block w-100" alt="Imagen3">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
          </button>
        </div>
      </div>
    </div>

  </main>

  <footer class="d-flex flex-column pt-3">
    <div class="d-flex flex-column justify-content-around pb-4 gap-3">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <p>Patrocinadores</p>
        <!-- Agregar colaboradores a conveniencia -->
        <div class="d-flex flex-column patrocinadores2 gap-3">
          <div class="d-flex flex-row gap-5 justify-content-center">
            <a href="https://deode.com/"><img src="../../../../res/img/logos/Logo_Deode.png" alt="Deode"></a>
            <a href="https://www.seidor.com/"><img src="../../../../res/img/logos/LOGO_COLOR_Seidor.png" alt="Seidor"></a>
            <a href="http://www.cantabriainformatica.com/"><img src="../../../../res/img/logos/cit.png" alt="Cit"></a>
            <a href="https://www.infortecsl.com"><img src="../../../../res/img/logos/Infortec.png" alt="Infortec"></a>
          </div>
          <div class="d-flex flex-row gap-5 justify-content-center">
            <a href="https://sialitech.com/"><img class="siali" src="../../../../res/img/logos/Siali_tech.png" alt="Siali"></a>
            <a href="https://soincon.es"><img src="../../../../res/img/logos/Soincon.png" alt="Soincon"></a>
            <a
              href="https://www.hacienda.gob.es/es-ES/Areas%20Tematicas/Fondos%20de%20la%20Union%20Europea/Paginas/default.aspx"><img
                src="../../../../res/img/logos/fondos-europeos.png" alt="Fondos Europeos"></a>
            <a href="https://asociacionnuevavida.org"><img src="../../../../res/img/logos/Nueva Vida.png" alt="Nueva Vida"></a>
          </div>
        </div>
      </div>
      <!-- lo otro -->
      <div class=" text-center">
        <p>Apoyos al Proyecto</p>
        <div class="d-flex flex-row gap-5 apoyos justify-content-center">
          <a href="https://www.cantabria.es/"><img class="img-apoyo" src="../../../../res/img/logos/Gobierno_de_Cantabria.png"
              alt="Gobierno de Cantabria"></a>
          <a href="https://www.educacionyfp.gob.es/portada.html"><img class="img-apoyo"
              src="../../../../res/img/logos/Ministerio de Educación y Formación Profesional.png"
              alt="Ministerio de Educación y Formación Profesional"></a>
          <a href="https://www.iesaglinares.com/"><img class="img-apoyo" src="../../../../res/img/logos/IES_AUG.png" alt="IES AUG"></a>
        </div>
      </div>
    </div>


    <!-- RSS -->
    <div class="row text-center cosas">
      <p>2023 IES AUG - retoaglcup@gmail.com - <a href="#">Aviso Legal</a> - <a
          href="http://localhost/Cup2024/reto-cup2024/noticia_torneo.xml"><img
            src="../../../../res/img/logos/valid-rss-rogers.png" alt="[Valid RSS]" title="Validate my RSS feed" /></a></p>
    </div>
  </footer>

  <!-- boostrap -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
</body>


</html>