<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asociación Nueva Vida</title>
</head>

<body>
  <header class="d-flex justify-content-between">
    <nav class="navbar navbar-expand-lg">
      <!-- Logo de la izquierda -->
      <div class="contenedor1 me-5 d-flex align-items-center gap-3 flex-row">
        <div class="d-flex flex-row flex align-items-center gap-3 ms-4">
          <img src="./res/img/logoleon.png" alt="Mini Logo" class="logo-nav">
          <a class="navbar-brand" href="./index-bootstrap.html">IES Augusto Cup</a>
        </div>

        <!-- Boton del desplegable -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Inicio de los elementos del menu -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Inicio</a>
            </li>

            <!-- Lista de equipos -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">Equipos
              </a>
              <!-- Elementos del sub menu -->
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Equipo 1</a></li>
                <li><a class="dropdown-item" href="#">Equipo 2</a></li>

                <!-- Agregar equipos a conveniencia -->
              </ul>
            </li>

            <!-- Lista de Organizacion -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">Organización
              </a>
              <!-- Elementos del sub menu -->
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Comisión de organización</a></li>
                <li><a class="dropdown-item" href="#">Retos</a></li>

              </ul>
            </li>
            <!-- Lista de Torneo -->
            <!--! ########################## -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-auto-close="outside"
                data-bs-toggle="dropdown" aria-expanded="false">Torneo
              </a>
              <!-- Elementos del sub menu -->
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Torneo solidario</a></li>

                <li class="dropstart">
                  <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Torneo deportivo</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Sistema de competición</a></li>
                    <li><a class="dropdown-item" href="#">Clasificación</a></li>
                    <li><a class="dropdown-item" href="#">Resultados</a></li>
                    <li><a class="dropdown-item" href="#">Galería</a></li>
                  </ul>
                </li>
                <!-- Lista de Torneo nosq-->
                <!-- Elementos del sub menu -->
              </ul>
            </li>
          </ul>
        </div>

      </div>
    </nav>

  </header>

    <main>
        <div>
            <!-- <Imagen del logo de la empresa patrocinadora> -->
        </div>

        <div>
            <h2> ASOCIACIÓN NUEVA VIDA </h2>
            <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum aliquam repudiandae necessitatibus ea quo iste ipsam molestias nam delectus. Praesentium omnis magni veniam. Veritatis ullam suscipit corrupti, laborum expedita sit?</p>
        </div>

        <div>
            <!-- <Más información> -->
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non similique earum quas, consequatur illo sequi quisquam ducimus necessitatibus omnis odio soluta voluptatem repellat quae sapiente dolor esse mollitia expedita vel!        
        </div>
            
    </main>
</body>

</html>