<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Comisión de Organización</title>
  <link rel="stylesheet" href="../../css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>

<body>
  <header class="d-flex justify-content-between">
    <nav class="navbar navbar-expand-xl d-flex flex-row pb-0">
      <!-- Logo de la izquierda -->
      <div class="contenedor1 me-5 d-flex align-items-center gap-3 flex-row">
        <div class="d-flex flex-row flex align-items-center gap-3 ms-4">
          <img src="../../img/logos/logoleon.png" alt="Mini Logo" class="logo-nav">
          <a class="navbar-brand" href="./index-bootstrap.html">IES Augusto Cup</a>
        </div>

        <!-- Boton del desplegable -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="container-fluid mt-2 pb-1">
        <!-- Enlace de la pagina principal -->

        <!-- Inicio de los elementos del menu -->
        <div class="collapse navbar-collapse ms-3" id="navbarNav">
          <ul class="navbar-nav ">
            <li class="nav-item">
              <a class="nav-link activo" aria-current="page" href="#">Inicio</a>
            </li>

            <!-- Lista de equipos -->
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Equipos</a>
            </li>

            <!-- Lista de Organizacion -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">Organizacion
              </a>
              <!-- Elementos del sub menu -->
              <ul class="dropdown-menu  bg-dark">
                <li><a class="dropdown-item" href="res/views/organizacion/comisionorganizacion.html">Comisión de
                    organización</a></li>
                <li><a class="dropdown-item" href="res/views/organizacion/retos.html">Retos</a></li>

              </ul>
            </li>
            <!-- Lista de Torneo -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-auto-close="outside"
                data-bs-toggle="dropdown" aria-expanded="false">Torneo
              </a>
              <!-- Elementos del sub menu -->
              <ul class="dropdown-menu  bg-dark">
                <li><a class="dropdown-item" href="res/views/torneo/torneosolidario.html">Torneo solidario</a></li>

                <li class="dropstart">
                  <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Torneo deportivo</a>
                  <ul class="dropdown-menu  bg-dark">
                    <li><a class="dropdown-item"
                        href="res/views/torneo/torneo-deportivo/sistemacompeticion.html">Sistema de competición</a></li>
                    <li><a class="dropdown-item"
                        href="res/views/torneo/torneo-deportivo/clasificacion.html">Clasificación</a></li>
                    <li><a class="dropdown-item" href="res/views/torneo/torneo-deportivo/resultados.html">Resultados</a>
                    </li>
                    <li><a class="dropdown-item" href="res/views/torneo/torneo-deportivo/galeriaImg.html">Galería</a>
                    </li>
                  </ul>
                </li>
                <!-- Lista de Objetivos-->
                <!-- Elementos del sub menu -->
              </ul>
            </li>
            <!-- Lista de Organizacion -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">Objetivos
              </a>
              <!-- Elementos del sub menu -->
              <ul class="dropdown-menu bg-dark">
                <li><a class="dropdown-item" href="res/views/objetivos/objetivosGenerales.html">Generales</a></li>
                <li><a class="dropdown-item" href="#">ODS</a></li>

                <!-- Agregar equipos a conveniencia -->
              </ul>
            </li>
            <!--!  -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-auto-close="outside"
                data-bs-toggle="dropdown" aria-expanded="false">Colaboraciones
              </a>
              <!-- Elementos del sub menu -->
              <ul class="dropdown-menu  bg-dark">
                <li class="dropstart">
                  <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Apoyos al proyecto</a>
                  <ul class="dropdown-menu  bg-dark">
                    <li><a class="dropdown-item" href="res/views/colaboraciones/apoyos/apoyos_IESPeñacastillo.html">IES
                        Peñacastillo</a></li>
                    <li><a class="dropdown-item" href="res/views/colaboraciones/apoyos/apoyos_IESAGL.html">IES AGL</a>
                    </li>
                    <li><a class="dropdown-item" href="res/views/colaboraciones/apoyos/apoyos_asociacionNV.html">Nueva
                        Vida</a></li>
                  </ul>
                </li>
                <li class="dropstart">
                  <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Patrocinadores</a>
                  <ul class="dropdown-menu  bg-dark">
                    <li><a class="dropdown-item"
                        href="res/views/colaboraciones/patrocinadores/cantabriaInformatica.html">Cantabria
                        Informatica</a></li>
                    <li><a class="dropdown-item" href="res/views/colaboraciones/patrocinadores/cic.html">CIC</a></li>
                    <li><a class="dropdown-item" href="res/views/colaboraciones/patrocinadores/deode.html">DEODE</a>
                    </li>
                    <li><a class="dropdown-item"
                        href="res/views/colaboraciones/patrocinadores/fondoseuropeos.html">Fondos Europeos</a></li>
                    <li><a class="dropdown-item"
                        href="res/views/colaboraciones/patrocinadores/infortec.html">Infortec</a></li>
                    <li><a class="dropdown-item" href="#">Ministerio</a></li>
                    <li><a class="dropdown-item" href="res/views/colaboraciones/apoyos/apoyos_asociacionNV.html">Nueva
                        Vida</a></li>
                    <li><a class="dropdown-item" href="res/views/colaboraciones/patrocinadores/seidor.html">Seidor</a>
                    </li>
                    <li><a class="dropdown-item" href="res/views/colaboraciones/patrocinadores/siali.html">Siali</a>
                    </li>

                </li>
                <li><a class="dropdown-item" href="res/views/colaboraciones/patrocinadores/soincon.html">SOINCON</a>
                </li>
              </ul>
            </li>
            <!-- Lista de Objetivos-->
            <!-- Elementos del sub menu -->
          </ul>
          </li>
          <!--!  -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">Contacto
            </a>
            <!-- Elementos del sub menu -->
            <ul class="dropdown-menu bg-dark">
              <li><a class="dropdown-item" href="res/views/contacto/ubicacion.html">Ubicación</a></li>
              <li><a class="dropdown-item" href="res/views/contacto/formulario.html">Formulario de contacto</a></li>
              <li><a class="dropdown-item" href="res/views/contacto/donaciones.html">Donación</a></li>

              <!-- Agregar equipos a conveniencia -->
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="res/views/f&q.html">F&Q</a>
          </li>

          </ul>

          <!-- Redes  -->
          <div class=" redes align-self-center">
            <a href="https://www.instagram.com/ies_augusto_cup/" class="me-4"><img src="../../img/iconos/instagram.png"
                alt="Instagram" class="iconos-redes"></a>
          </div>

        </div>

      </div>
    </nav>

  </header>


  <main class="d-flex flex-row p-4">

    <div class="card m-4">
      <!-- imagen -->
      <img style="width: 100px;" src="../../img/profesores/pruebas.PNG" alt="MARÍA FERNÁNDEZ ORTIZ">
      <div class="card-body">
        <!-- titulo -->
        <h5 class="card-title text-center"><strong>MARÍA FERNÁNDEZ ORTIZ</strong></h5>
        <!-- descripcion -->
        <p class="card-text">
          Coordinadora de Documentación y Torneo Deportivo
          Ingeniera informática. Universidad de Cantabria - Seminario Metodologías Activas
          Desarrollo de un sistema ciberfísico: dron. Depto. Tecnología Electrónica e Ing. de Sistemas y Automática,
          Universidad de Cantabria.
          Implantación de Scrum como complemento a la metodología ABP en el aula. IES La Albericia IES Ataulfo
          Argenta.
          Organización, coordinación y puesta en marcha de proyectos de investigación (MOACC-19 study, Cohorte
          Cantabria®).
        </p>
      </div>
    </div>

    <div class="card m-4">
      <!-- imagen -->
      <img style="width: 100px;" src="../../img/profesores/pruebas.PNG" alt="ELÍAS PORTILLA FERNÁNDEZ">
      <div class="card-body">
        <!-- titulo -->
        <h5 class="card-title text-center"><strong>ELÍAS PORTILLA FERNÁNDEZ</strong></h5>
        <!-- descripcion -->
        <p class="card-text">
          Coordinador de Documentación y Torneo Solidario
          Licenciado en Ciencias Físicas. Universidad de Cantabria - Seminario Metodologías Activas
          Diseño, instauración y evaluación de proyectos en el sector privado. Viscocel SL.
          Introducción de la metodología de aprendizaje basado en retos en el IES Augusto González de Linares:
          Creación y puesta en funcionamiento de un centro de soporte técnico (SAT) a usuarios de una empresa.
          Reacondicionamiento de equipos informáticos para su donación con fines solidarios.
        </p>
      </div>
    </div>


    <div class="card m-4">
      <!-- imagen -->
      <img style="width: 100px;" src="../../img/profesores/pruebas.PNG" alt="JOSÉ TORRES PUENTE">
      <div class="card-body">
        <!-- titulo -->
        <h5 class="card-title text-center"><strong>JOSÉ TORRES PUENTE</strong></h5>
        <!-- descripcion -->
        <p class="card-text">
          Coordinador Torneo Deportivo Licenciado en Ciencias Físicas. Universidad de Cantabria - Informador delegado
          Comité Árbitros Cantabria - Seminario Metodologías Activas Monitor de Fútbol Base. Árbitro Federación
          Cántabra
          de Fútbol durante 16 temporadas Colaborador del torneo de fútbol del programa de ocio nocturno la noche es
          espacio joven del ayuntamiento de Santander Curso Herramientas para la Innovación Metodológica en FP.
          Seminario Metodologías Activas.
        </p>
      </div>
    </div>

    <div class="card m-4">
      <!-- imagen -->
      <img style="width: 100px;" src="../../img/profesores/pruebas.PNG" alt="JOSÉ ENRIQUE RODRÍGUEZ TRAVIESO">
      <div class="card-body">
        <!-- titulo -->
        <h5 class="card-title text-center"><strong>JOSÉ ENRIQUE RODRÍGUEZ TRAVIESO</strong></h5>
        <!-- descripcion -->
        <p class="card-text">
          Coordinador General, de Formaciones y de Comunicación Licenciado en Física. Universidad de Salamanca -
          Entrenador Nacional de Fútbol UEFA PRO - Seminario Metodologías Activas Máster en Competencias Docentes
          Avanzadas. Universidad Camilo José Cela. TFM. Neurociencia: Beneficios de la actividad física sobre el
          rendimiento cognitivo y académico en adolescentes sin necesidades especiales Entrenador de fútbol en CD
          Numancia de Soria, UD Salamanca, Salamanca UDS, Real Racing Club de Santander.
        </p>
      </div>
    </div>










  </main>

  <footer class="d-flex flex-column pt-3">
    <div class="d-flex flex-column justify-content-around pb-4 gap-3">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <p>Patrocinadores</p>
        <!-- Agregar colaboradores a conveniencia -->
        <div class="d-flex flex-column patrocinadores2 gap-3">
          <div class="d-flex flex-row gap-5 justify-content-center">
            <a href="#"><img src="../../img/logos/Logo_Deode.png" alt="Deode"></a>
            <a href="#"><img src="../../img/logos/LOGO_COLOR_Seidor.png" alt="Seidor"></a>
            <a href="#"><img src="../../img/logos/cit.png" alt="Cit"></a>
            <a href="#"><img src="../../img/logos/Infortec.png" alt="Infortec"></a>
          </div>
          <div class="d-flex flex-row gap-5 justify-content-center">
            <a href="#"><img class="siali" src="../../img/logos/Siali_tech.png" alt="Siali"></a>
            <a href="#"><img src="../../img/logos/Soincon.png" alt="Soincon"></a>
            <a
              href="https://www.hacienda.gob.es/es-ES/Areas%20Tematicas/Fondos%20de%20la%20Union%20Europea/Paginas/default.aspx"><img
                src="../../img/logos/fondos-europeos.png" alt="Fondos Europeos"></a>
            <a href="#"><img src="../../img/logos/Nueva Vida.png" alt="Nueva Vida"></a>
          </div>
        </div>
      </div>
      <!-- lo otro -->
      <div class=" text-center">
        <p>Apoyos al Proyecto</p>
        <div class="d-flex flex-row gap-5 apoyos justify-content-center">
          <a href="https://www.cantabria.es/"><img class="img-apoyo" src="../../img/logos/Gobierno_de_Cantabria.png"
              alt="Gobierno de Cantabria"></a>
          <a href="https://www.educacionyfp.gob.es/portada.html"><img class="img-apoyo"
              src="../../img/logos/Ministerio de Educación y Formación Profesional.png"
              alt="Ministerio de Educación y Formación Profesional"></a>
          <a href="#"><img class="img-apoyo" src="../../img/logos/IES_AUG.png" alt="IES AUG"></a>
        </div>
      </div>
    </div>


    <!-- RSS -->
    <div class="row text-center cosas">
      <p>2023 IES AUG - retoaglcup@gmail.com - <a href="#">Aviso Legal</a> - <a
          href="http://localhost/Cup2024/reto-cup2024/noticia_torneo.xml"><img
            src="../../img/logos/valid-rss-rogers.png" alt="[Valid RSS]" title="Validate my RSS feed" /></a></p>
    </div>
  </footer>


  <!-- boostrap -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
</body>

</html>